modules = ["nodejs-20", "web", "python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33535
externalPort = 6000

[[ports]]
localPort = 36463
externalPort = 5173

[[ports]]
localPort = 36645
externalPort = 4200

[[ports]]
localPort = 36737
externalPort = 3003

[[ports]]
localPort = 36823
externalPort = 5000

[[ports]]
localPort = 37113
externalPort = 3000

[[ports]]
localPort = 37535
externalPort = 8000

[[ports]]
localPort = 38341
externalPort = 6800

[[ports]]
localPort = 39217
externalPort = 3002

[[ports]]
localPort = 45229
externalPort = 8008

[[ports]]
localPort = 46663
externalPort = 3001

[deployment]
deploymentTarget = "vm"
run = ["node", "server.js"]
