modules = ["nodejs-20", "web", "python-3.12"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"
integrations = ["javascript_gemini_ai_integrations:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["node", "server.js"]

[userenv]

[userenv.shared]
TURNSTILE_SITE_KEY = "0x4AAAAAAdMXFUj4xnnJf5fN"
VAPID_PUBLIC_KEY = "BNM5t2bsIMpDNEhPTtz3IvUjejXTs5x6NmpuT0C2xomXTuxBhlqlU_gSdGXf-66tv2VMiyg1e_w33oJXBjC7mKs"
VAPID_PRIVATE_KEY = "QEDtfLL6iA2dh_jF2Pkoi1wVsDE6HR5eT8MrvDMOP8Y"
